.slick-prev{
  position: absolute;
 left: 10px;
// color: black !important;
z-index: 999;
a{
  color: #000 !important;
}
}
.slick-next {
  position: absolute;
  right: 10px;
color: black !important;
z-index: 999;
}

.sec1{
   
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  
   .btn-slider{
    position: absolute;
    z-index: 999;
    bottom: 24%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 20px;
    background-color: aqua;
    border-radius: 1.25rem;
   }
  
    .sec1-boxes{
        position: relative;
        width: 100%;
        height: auto;
        // overflow-y: hidden;
       .img-boxes{
        position: relative;


           .img-text{
              width: 50%;
              height: 50vh;
              left: 10%;
              color: #fff;
              bottom: 150px;           
               position: absolute;
           }
       }
      .slick-dots{
        position: absolute;
        bottom: 10px;
        z-index: 999;
        font-size: 20px;
    
      }
        .slick-prev{
            position: absolute;
           left: 10px;
          color: black;
          z-index: 999;
        }
        .slick-next {
            position: absolute;
            right: 10px;
          color: black;
          z-index: 999;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    }
    .icons-boxs{
      width: 100%;
      height: auto;
      position: absolute;
    bottom: 0;
    .icons-slider{
      .boxs-slider{
        text-align: center;
      }
    }
      
    }
}

.sec2{
  width: 100%;
  height: 1000vh;
  top: 100%;
  position: absolute; 
  margin-top: 100px;
  .sec2-boxes{
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden !important;
  .box{
    width: 20%;
    height: 50vh;
    padding: 0;
    margin: 0;
    position: relative;
    transition: .3s ease-in;
    h1{
      color: #fff;
      position: absolute;
      left: 0;
      top: 20%;
     transform: rotateZ(90deg);
      z-index: 4;
      transition: .1s ease-in;
    }
    img{
   object-fit: cover;
   object-position: center;
   transition: .3s ease-in;
    }
    .img-text{
  position: absolute;
  z-index: 4;
  left: 10%;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  width: 50%;
  bottom: 30%;
}

    &:hover{
      width: 50%;
      img{transform: scale(1.5);}
      .img-text{
        visibility: visible; opacity: 1;
        transition: .6s ease-in;
      }
      h1{
        transform: rotate(0deg);
      }
    }
  }

  // .box1:hover{
  //   width: 80%;
  //  .box2 .box3 .box3 .box4 .box5{
  //   width: 10%;
  //  }
  // }
    img{
      width: 100%;
      height: 100%;
    }
  }
}