.slick-prev {
  position: absolute;
  left: 10px;
  z-index: 999;
}
.slick-prev a {
  color: #000 !important;
}

.slick-next {
  position: absolute;
  right: 10px;
  color: black !important;
  z-index: 999;
}

.sec1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.sec1 .btn-slider {
  position: absolute;
  z-index: 999;
  bottom: 24%;
  left: 15%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 20px;
  background-color: aqua;
  border-radius: 1.25rem;
}
.sec1 .sec1-boxes {
  position: relative;
  width: 100%;
  height: auto;
}
.sec1 .sec1-boxes .img-boxes {
  position: relative;
}
.sec1 .sec1-boxes .img-boxes .img-text {
  width: 50%;
  height: 50vh;
  left: 10%;
  color: #fff;
  bottom: 150px;
  position: absolute;
}
.sec1 .sec1-boxes .slick-dots {
  position: absolute;
  bottom: 10px;
  z-index: 999;
  font-size: 20px;
}
.sec1 .sec1-boxes .slick-prev {
  position: absolute;
  left: 10px;
  color: black;
  z-index: 999;
}
.sec1 .sec1-boxes .slick-next {
  position: absolute;
  right: 10px;
  color: black;
  z-index: 999;
}
.sec1 .sec1-boxes img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sec1 .icons-boxs {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}
.sec1 .icons-boxs .icons-slider .boxs-slider {
  text-align: center;
}

.sec2 {
  width: 100%;
  height: 1000vh;
  top: 100%;
  position: absolute;
  margin-top: 100px;
}
.sec2 .sec2-boxes {
  width: 100%;
  flex-wrap: nowrap;
  overflow: hidden !important;
}
.sec2 .sec2-boxes .box {
  width: 20%;
  height: 50vh;
  padding: 0;
  margin: 0;
  position: relative;
  transition: 0.3s ease-in;
}
.sec2 .sec2-boxes .box h1 {
  color: #fff;
  position: absolute;
  left: 0;
  top: 20%;
  transform: rotateZ(90deg);
  z-index: 4;
  transition: 0.1s ease-in;
}
.sec2 .sec2-boxes .box img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.3s ease-in;
}
.sec2 .sec2-boxes .box .img-text {
  position: absolute;
  z-index: 4;
  left: 10%;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  width: 50%;
  bottom: 30%;
}
.sec2 .sec2-boxes .box:hover {
  width: 50%;
}
.sec2 .sec2-boxes .box:hover img {
  transform: scale(1.5);
}
.sec2 .sec2-boxes .box:hover .img-text {
  visibility: visible;
  opacity: 1;
  transition: 0.6s ease-in;
}
.sec2 .sec2-boxes .box:hover h1 {
  transform: rotate(0deg);
}
.sec2 .sec2-boxes img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

#header {
  width: 100%;
  height: 5vh;
}
#header .top-header {
  z-index: 60;
  position: relative;
  border-bottom: 1px solid #848169;
}
#header .top-header ul li {
  padding: 10px 18px;
}
#header .top-header .USD {
  position: absolute;
  top: 100%;
  right: 220px;
  background-color: #f8c704;
  font-size: 14px;
  font-weight: bold;
  width: 85px;
  border-bottom: 5px solid black;
  color: #fff;
  display: none;
}
#header .top-header .USD ul li {
  padding: 10px 15px;
}
#header .top-header .USD ul li:hover {
  color: #000;
}
#header .top-header li.a:hover .USD {
  display: block;
}
#header .top-header li.b .USD {
  right: 130px !important;
}
#header .top-header li.b:hover .USD {
  display: block;
}
#header .top-header .store {
  padding: 1px 5px;
  font-size: 10px;
  position: absolute;
  right: 10px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
}
#header .bottom-header {
  z-index: 999;
  position: relative;
}
#header .bottom-header a {
  color: #000;
}
#header .bottom-header ul .hover::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  background-color: #f8c704;
  transition: 0.5s ease-in;
}
#header .bottom-header ul .hover::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  background-color: #f8c704;
  transition: 0.5s ease-in;
}
#header .bottom-header ul .hover:hover + ::after {
  width: 50%;
}
#header .bottom-header ul .hover:hover + ::before {
  width: 50%;
}
#header .bottom-header ul li .page:hover + .pages-sec {
  opacity: 2;
  visibility: visible !important;
}
#header .bottom-header ul li .pages-sec {
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  color: #fff;
}
#header .bottom-header ul li .pages-sec:hover {
  opacity: 2;
  visibility: visible;
}
#header .bottom-header ul li .pages-sec .boxes {
  width: 100%;
  height: 50vh !important;
}
#header .bottom-header ul li .pages-sec .boxes .box1 {
  background-color: rgba(41, 40, 40, 0.831);
  height: 100%;
}
#header .bottom-header ul li .pages-sec .boxes .box2 {
  background-color: #f8c704;
}
#header .bottom-header ul li .pages-sec .boxes .box2 ul li {
  padding: 2px 0;
  font-weight: 600;
}
#header .bottom-header ul li .pages-sec .boxes .box2 ul li:hover {
  color: #000;
}/*# sourceMappingURL=style.css.map */